@font-face {
  font-family: 'PXGrotesk';
  src: url('../../assets/fonts/Px-Grotesk-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Px-Grotesk-Regular.woff') format('woff');
  font-weight: 100 800;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Light.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Light.woff') format('woff');
  font-weight: 100 300;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 400 600;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../../assets/fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
}

:root {
  --base-gap: 10px;

  --cubic: cubic-bezier(0.19, 1, 0.22, 1);

  --yellow: #fffbda;
  --blue: #354eff;
  --forest-green: #013540;
  --color-black: #000;
  --color-dark: rgba(15, 13, 32, 0.99);
  --color-dark-0: #292e31;
  --color-dark-1: #4c555a;
  --color-dark-2: #939da3;

  --light: 300;
  --medium: 600;
  --bold: 700;
  --extra-bold: 800;

  --font-x-large: 3.5rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
  --font-x-small: 0.85rem;

  --ss-font: InterUI;
  --ss-font2: PXGrotesk;
}

::selection {
  background: var(--blue);
  color: #fff;
}
::-moz-selection {
  background: var(--blue);
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  font-family: InterUI;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--forest-green);
  transition: background-color 100000000s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a,
button,
input,
select,
textarea,
label {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 2000px;
  width: 100%;
  margin: auto;
}
