@font-face {
  font-family: 'PXGrotesk';
  src: url('../../assets/fonts/Px-Grotesk-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Px-Grotesk-Regular.woff') format('woff');
  font-weight: 100 400;
}

@font-face {
  font-family: 'PXGrotesk';
  src: url('../../assets/fonts/Px-Grotesk-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Px-Grotesk-Bold.woff') format('woff');
  font-weight: 500 800;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Light.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Light.woff') format('woff');
  font-weight: 100 300;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 400 600;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../../assets/fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Input';
  src: url('../../assets/fonts/InputMono-Regular.ttf');
  font-weight: 100 400;
}

@font-face {
  font-family: 'Input';
  src: url('../../assets/fonts/InputMono-Bold.ttf');
  font-weight: 500 800;
}

:root {
  --line-height: 1.6;
  --post-content-margin: 40px;
  --base-gap: 15px;
  --base-padding: 100px;
  --base-radius: 3px;
  --base-box-shadow: 0 1px 3px rgba(188, 193, 217, 0.12),
    0 5px 12px rgba(188, 193, 217, 0.25);

  --cubic: cubic-bezier(0.19, 1, 0.22, 1);
  --cubic-2: cubic-bezier(0.74, -0.21, 0.51, 1.39);

  --yellow: rgb(255, 248, 217);
  --light-blue: #d9f9ff;
  --blue: #354eff;
  --forest-green: #013540;
  --color-black: #121519;
  --color-dark: rgba(15, 13, 32, 0.99);
  --color-dark-0: #292e31;
  --color-dark-1: #4c555a;
  --color-dark-2: #939da3;
  --color-dark-3: #727f88;

  --color-light: #fff;
  --color-light-2: #e6ebf1;
  --color-light-3: #f5f6f7;
  --color-light-4: #f6f9fc;

  --light: 300;
  --medium: 600;
  --bold: 700;
  --extra-bold: 800;

  --font-xx-large: 3.5rem;
  --font-x-large: 3.5rem;
  --font-large: 2.3rem;
  --font-medium: 1.3rem;
  --font-small: 1.1rem;
  --font-x-small: 0.85rem;

  --ss-font: InterUI;
  --ss-font2: PXGrotesk;

  --illustrationavfont: Arial;
}

@media (max-width: 767px) {
  :root {
    --base-padding: 20px;
  }
}

@media (max-width: 568px) {
  :root {
    --font-xx-large: 10vw;
    --font-x-large: 6vw;
    --font-large: 5.5vw;
    --font-medium: 4vw;
    --font-small: 3.5vw;
    --font-x-small: 3.2vw;
  }
}

::selection {
  background: var(--blue);
  color: #fff;
}
::-moz-selection {
  background: var(--blue);
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  font-family: InterUI;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--forest-green);
  transition: background-color 100000000s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a,
button,
input,
select,
textarea,
label {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  transition: background 200ms ease-in 150ms;
}

header,
main,
footer {
  max-width: 2000px;
  width: 100%;
  margin: auto;
}

body[data-url='/case-studies/'],
body[data-url='/case-studies'] {
  background: var(--color-light-4);
}

body[data-url*='/blog/'],
body[data-url*='/blog'],
body[data-url*='/resume/'],
body[data-url*='/resume'] {
  background: var(--color-light-4);
}

body[data-url*='/process/'],
body[data-url*='/process'] {
  background: var(--color-black);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  opacity: 0;
  transform: translateY(25px) skewY(-1deg) rotateX(-1deg);
  transition: transform 1000ms 100ms, opacity 450ms 150ms;
}

.text.show {
  opacity: 1;
  transform: translateY(0) skewY(0) rotateX(0);
}

.fade-cover {
  background: linear-gradient(
    to left,
    rgba(246, 249, 252, 0.9) 30%,
    rgba(246, 249, 252, 0)
  );
}

body[data-url*='/case-studies/'] span.fade-cover,
body[data-url*='/case-studies'] span.fade-cover {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0)
  );
}
